
 body{
  height : 100vh;
  display:flex;
  justify-content : center;
  align-items:center;
  background-image: url("log3.jpg");
  background-size : cover;
   
   
 }
 .container{
   width : 300px;
   height : 400px;
   background: linear-gradient( rgb(3, 51, 8), rgba(73, 4, 4, 0.803));
   border : 2px solid black;
   border-radius : 10px;
   padding : 10px 20px;
   box-shadow: 5px 5px 15px rgb(44, 4, 17);
   display : flex;
   justify-content : center;
   align-items : center;
  backdrop-filter :blur(2.5px);


 }
 #username{
  border : 2px solid black;
  border-radius : 5px;
 }
 #password{
  border : 2px solid black;
  border-radius : 5px;
 }
 #myButton{
  border : 2px solid black;
  border-radius : 5px;
  cursor : pointer;
 }
 #myButton:hover{
  background-color : rgb(12, 61, 222);
  color : white;
 }
 #fp{
  border : 2px solid black;
  border-radius : 5px;
  cursor:pointer;
 }
 #fp:hover{
  background-color:rgb(23, 68, 217);
  color:white;
 }
 .header{
  text-align : center;
  padding : 20px 10px;
  font-size:20px;
  font-weight:bold;

 }
 
   
 
.background{
  position : fixed;;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  overflow : hidden;
}
.background span{
  position : absolute;
  width : 40px;
  height:40px;
  background-color:rgba(255,255,255,0.2);
  border-radius : 25%;
  animation : float 10s linear infinite;
}
.background span:nth-child(1){
  left:10%;
  animation-duration:8s;
}
.background span:nth-child(2){
  left:30%;
  animation-duration : 10s;
}
.background span:nth-child(3){
  left:50%;
  animation-duration : 14s;
}
.background span:nth-child(4){
  left:70%;
  animation-duration : 16s;
}
.background span:nth-child(5){
  left:90%;
  animation-duration : 18s;
}
.background span:nth-child(6){
  left:100%;
  animation-duration : 20s;
}

 @keyframes float{
  0%{
    transform : translateY(-100vh);
  }
  100%{
    transform:translateY(100vh);
  }
 }